.card{
padding: 20px;
margin: 20px;
background-color: transparent;
border: 2px solid rgb(106, 74, 11);
border-radius: 15px;
display: flex;
}

.flores{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 10px;
}

.flor-titulo{
    margin: 0;
    color: black;
}

.flor-texto{
    font-size: 25px;
    margin-bottom: 0;
}